# gpu driver for adreno200 is globally accessible
/dev/genlock            0666    system  graphics

/dev/oncrpc/*               0660   radio       radio
/dev/msm_camera/*           0660   system      camera
/dev/msm_camera             0660   system      system
/dev/smdcntl0               0640   radio       radio
/dev/smdcntl1               0640   radio       radio
/dev/smdcntl2               0640   radio       radio

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
